<div class="content">
 
  <div class="content-header">
    <div class="content-header-nav">
      <span class="nav-logo-mobile">{{>logoSm}}</span>
      <span class="suggestions-title">Here are some groups to get you started!</span>
      <span class="search-toggler"><svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.5752 15.6427L18.4371 20.0022"
            stroke="#ABABAB"
            stroke-width="3"
            stroke-linecap="round"
          />
          <circle
            cx="9.80254"
            cy="10.5933"
            r="5.44413"
            transform="rotate(-41.5365 9.80254 10.5933)"
            stroke="#ABABAB"
            stroke-width="3"
          />
        </svg></span>
    </div>
    
    <div class="suggestion-container">
      {{#each suggestionGroups}}
      <div class="suggestion">
        <a id="anchor" href="#id-{{id}}" class="suggestion-title">{{group_name}}</a>
      </div>
      {{/each}}
      
    </div>

  </div>
  {{#if foundGroup}}
    <div class="middle-content">
      <p>Members: {{foundGroup.user_count}}</p>




      {{#if userBelongsToGroup}}
        <a
          href="/user-panel/group/{{foundGroup.id}}/user/{{user.user_id}}"
          class="leave-group"
        >
          Leave
          {{foundGroup.group_name}}
        </a>
      {{else}}
        <a
          href="/user-panel/group/{{foundGroup.id}}/user/{{user.user_id}}"
          class="join-group"
        >
          Join
          {{foundGroup.group_name}}
        </a>
        {{/if}}
    </div>
    
    <div class="group-info">
      <p class="group-info-title">{{foundGroup.group_name}}</p>
      <img class="group-info-img" src="{{foundGroup.image}}" alt="" />
      <p class="group-info-content">{{foundGroup.description}}</p>

    <button
        id="{{foundGroup.id}}-{{foundGroup.group_count}}"
        class="next-group"
      >
      <span class="next-group-icon">{{>xicon}}</span>
      <span class="next-group-text">Next Group</span>
      
      </button>


    </div>

  {{/if}}
 {{#if userBelongsToGroup}}


<div class="comment-section-title">
  <p>Comments —</p>
</div>
<form class="comment-form">
  <div class="post-user-data">
    <span class="post-user-img">
      {{currentUser.initial}}
    </span>
    <div class="post-user-name">
      <p class="name">{{currentUser.username}}</p>
    </div>
  </div>
  <textarea placeholder="Post comment to {{foundGroup.group_name}}..." name="content" id="comment" cols="30" rows="5"></textarea>

  <button id="{{foundGroup.id}}-{{currentUser.id}}" type="submit" class="send-btn" >Post</button>
 
</form>
<div class="posts-container">
{{#each currentGroupsPost}}

{{>posts}}
{{/each}}
</div>
{{/if}}
{{#if viewingGroup}}
{{else}}
<div class="middle-content">
  <p>{{#if groupsPage}}Your{{/if}} Groups: {{num_of_groups}}</p>
  
  <a
         
          class="create-group"
        >
          + Create new group
          
        </a>
</div>
{{/if}}
{{#if data}}

{{#each data}}
{{>usergroup}}
{{/each}}
{{/if}}


