<div class="rightpanel">
  {{#if searchResults.isSearching}}
  <div class="top-search">
    {{else}}
     <div class="top-search  not-searching">
   {{/if}}
    <form action="/user-panel/search" class="search">
      <input
        id="q"
        name="q"
        class="q"
        type="text"
        autocomplete="off"
        placeholder="Search Hobby Squad"
      />
      <button class="search-btn" for="search-term">
        <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.5752 15.6427L18.4371 20.0022"
            stroke="#ABABAB"
            stroke-width="3"
            stroke-linecap="round"
          />
          <circle
            cx="9.80254"
            cy="10.5933"
            r="5.44413"
            transform="rotate(-41.5365 9.80254 10.5933)"
            stroke="#ABABAB"
            stroke-width="3"
          />
        </svg>
      </button>
    </form>

{{#if searchResults.isSearching}}
    {{#if searchResults.searchEmpty}}
   <div class="search-info">
      <span class="results">Results: {{searchResults.quantity}}</span>
      <span class="seperator">•</span>
      <span class="searching">Searching: {{searchResults.term}}</span>
    </div>
    {{>emptyResult}}
  {{/if}}


     {{#if searchResults.results }}
    <div class="search-info">
      <span class="results">Results: {{searchResults.quantity}}</span>
      <span class="seperator">•</span>
      <span class="searching">Searching: {{searchResults.term}}</span>
    </div>
    
  </div>
 
  {{#each searchResults.results}}
  {{>searchresult}}
  {{/each}}
 
  {{/if}}
{{else}}
<p class="non-search-heading">Search Hobby Squad and Meet Others!</p>
<div class="non-search-img">
  <svg width="843" height="823" viewBox="0 0 843 823" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M54.7123 3.30116C232.708 -43.5418 519.415 461.791 831.366 402.409C878.207 580.397 771.888 762.667 593.892 809.51C415.897 856.353 217.304 778.607 186.787 572.041C193.127 352.361 -123.283 50.1439 54.7123 3.30116Z" fill="#1F4B7E" fill-opacity="0.1"/>
</svg>
</div>
 {{/if}}
  {{!-- {{>searchresult}}
  {{>searchresult}} --}}
</div>