<div class="groups-list">
  <div id="id-{{id}}" class="group-item">
    <div class="group-title">
      {{group_name}} {{#if isOwner}} <span class="owner-crown">{{>ownerCrown}}</span> {{/if}}
    </div>
    <div class="group-content">
      <div class="group-img">
        <img src="{{image}}" alt="" />
      </div>
      <div class="group-description">
        <p>{{description}}</p>
      </div>
      <div class="group-options">
        <span>Members: {{num_of_users}}</span>
        <a
          href="/user-panel/group/{{id}}"
          style="font-size: 12px;"
          class="join-group"
        >
          View group
        </a>

      </div>
    </div>
  </div>
</div>